
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Storystrap Template</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <link href="css/styles.css" rel="stylesheet">
        
        

	</head>
	<body>

<div class="modal-body">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="appointment_name" class="text-black">Full Name</label>
        <input type="text" class="form-control" name="appointment_name">
      </div>
      <div class="form-group">
        <label for="appointment_email" class="text-black">Email</label>
        <input type="text" class="form-control" name="appointment_email">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="appointment_date" class="text-black">Date</label>
            <input type="text" class="form-control" name="appointment_date">
          </div>    
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="appointment_time" class="text-black">Time</label>
            <input type="text" class="form-control" name="appointment_time">
          </div>
        </div>
      </div>
      

      <div class="form-group">
        <label for="appointment_message" class="text-black">Message</label>
        <textarea name="" name="appointment_message" class="form-control" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary">
      </div>
    </form>
  </div>
  

<!-- script references 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    -->

</body>
</html>